

.filter__widget select {
    padding: 8px 20px;
    border: 1px solid var(--primary-color) ;
    cursor: pointer;
    border-radius: 5px;
}

.search__box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 2px;
    cursor: pointer;
}

.search__box input {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 10px;
}

.search__box span {
    color: var(--primary-color);
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .search__box {
        margin: 10px 0;
    }
}